@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  /* background: linear-gradient(rgba(255,255,255,1), rgba(30,20, 180,1)); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  margin: 2em 0 1.5em 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main_menu > li {
  float: left;
  position: relative;
}
#main_menu > li > a{
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,1);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 20px 36px;
}

#main_page > h1 {
  font_size: xx-large;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  color : rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  padding-top: 80px;
  letter-spacing: 0.05em;
}
#main_page > p {
  font_size: large;
  font-family: "Nanum Gothic", serif;
  color : rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
}

p {
  font-size: medium;
  /* font-family: arial; */
  color : rgba(0, 0, 0, 1);
}
